<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:application name="dubbo-try" />

	<dubbo:registry id="marketRegistry" address="${dubbo.registry.address}" check="false" file="false" />
    <dubbo:protocol id="protocol"  name="dubbo" port="23199" />
    <dubbo:provider loadbalance="random" />
	<!--<dubbo:reference id="registryService" interface="com.alibaba.dubbo.registry.RegistryService" check="false" version="0.0.1"/>-->

    <dubbo:service interface="win.trytryagain.service.UserService" ref="userServiceImpl" protocol="protocol" version="0.0.1" retries="1" registry="marketRegistry"/>
</beans>