<html>
<head>
    <title>TRY</title>
    <link href="/static/css/common.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="content">
        $screen_content
    </div>
</body>
</html>
