<html>
<head>
    <title>TRY</title>
    <link href="/static/css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="content" ng-app="MyApp" ng-controller="indexCtr" ng-init="init()">
    <div id="layout-header">
        <div class="siteName">
            待定
        </div>
        <div class="self-center">
            <a ng-click="self()">我发表的</a>
        </div>
    </div>
    $screen_content
</div>
</body>
<script src="/static/js/animatedModal.min.js"></script>
</html>
