<div id="index" ng-app="MyApp" ng-controller="indexCtr" ng-init="init()">
    <div id="header">
        <div id="searcher">
            <input placeholder="标题or标签" ng-model="condition.keyword" ng-change="init();">
        </div>
    </div>
    <div id="trys">
        <div class="try-item" ng-repeat="l in list">
            <div class="img" ng-if="l.img" style="background-image:url('{{l.img}}');"></div>
            <div class="try-taste">
                <h4 ng-bind="l.title" ng-click="detail(l.id)"></h4>
                <p ng-bind="l.info"></p>
            </div>
            <div class="someinfo">
                <label ng-bind="l.tags">测试</label>
                <label class="author" ng-bind="l.userName"></label>
            </div>
        </div>
    </div>

    <a id="modal" href="#animatedModal"></a>
    <div id="animatedModal">
        <div class="close-animatedModal">
            <img class="closebt" src="http://joaopereirawd.github.io/animatedModal.js/img/closebt.svg">
        </div>
        <div class="modal-content">
            <div id="tryDetail">
                <div class="try-detail-title">
                    <h1 ng-bind="try.title"></h1>
                </div>
                <div class="try-detail-info">
                    <div class="img" ng-if="try.img" style="background-image:url('{{try.img}}');"></div>
                    <div class="info">
                        <label ng-bind="try.tags">测试</label>
                        <label class="author" ng-bind="try.userName"></label>
                        <p ng-bind="try.info"></p>
                    </div>
                </div>
                <div class="try-detail-content">
                    <p ng-bind="try.content"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#modal").animatedModal({
            animatedIn: 'bounceInUp',
            animatedOut: 'bounceOutDown'
        });
    });
</script>
<script src="/static/js/index.js"></script>