<html>
<head>
    <title>TRY</title>
    <meta charset="utf-8">
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/common.css" rel="stylesheet">
</head>
<body>
<div id="content">
    <div id="index">
        <div id="header">
            <div id="searcher">
                <input placeholder="标题or标签">
            </div>
        </div>
        <div id="trys">
            <div class="try-item">
                <div class="try-taste">
                    <h4>
                        大道理
                    </h4>
                    <p>
                        骏马面前无沟壑，怂人面前全是坎。
                    </p>
                </div>
                <div class="someinfo">
                    <label>测试</label>
                    <label>测试</label>
                    <label>测试</label>
                </div>
            </div>
            <div class="try-item">

            </div>
        </div>
        <div id="footer">

        </div>
    </div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../../static/static/js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
</html>
